:root {
    --background_color: #ffffff;
    --secondary_color: #D1884F;
    --main_color :#008AAA;
    --highlight_color:  #3BBADB;
    --main_text_color: #000000;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background_color);
    min-height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    padding: 15px;
    margin: 0;
    color: var(--main_text_color); 
    text-align: center;
}

nav a:hover {
    color: var(--secondary_color);
}

#navIcon {
    vertical-align: middle;
    padding-right: 10px;
}

main {
    display: flex;
    width: 100%;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.information_section{
    width: 60%;
    margin-right: 25px;
}

aside {
    width: 40%;
    margin-right: 160px;
    margin-left: 25px;
    display: flex;
    justify-content: end;
}

.image-container {
    width: 367px;
    height: 320px;
    border-radius: 0 0 0 45%; 
    background-color: var(--highlight_color); 
    margin-top: 32px;
}

.quarter_shape_img {
    border-radius: 0 0 0 45%; 
    width: 350px;
    height: 350px;
    position:relative;
    bottom: 31px;
    left: 18px; 
}

#secondary_text{
    opacity: 0.7;
    color: var(--highlight_color);
    margin-top: 0;
    margin-bottom: 50px;
}

strong {
    color: var(--secondary_color);
}

h1 {
    color: var(--main_color);
    font-size: xx-large;
    font-weight: bolder;
    padding:0px;
    margin: 0px
}

#additional_text {
    font-weight:600 ;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px;
}
#additional_text a {
    text-decoration: none;
    color: var(--highlight_color);
}

/*@media screen and (min-width: 1600px) {
    .image-container {
        width: 367px;
        height: 320px;
    }
    
    .quarter_shape_img {
        width: 350px;
        height: 350px;
    }
}*/
/*@media screen and (min-width: 1187px) {
    main{
        margin-left: 5%;
        margin-right: 5%;
    }
    .image-container {
        width: 46vw;
        max-width: 420px;
    }
    .quarter_shape_img { 
        width: 46vw;
        height: 46vw;
        max-width: 420px;
        max-height: 420px;
    }
}*/

@media screen and (max-width: 712px) {
    main{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 42em;
    }

    .information_section{
        margin-left: auto;
        margin-right: auto;
    }
    
    aside {
        margin-left: auto;
        margin-right: auto;
    }

    .image-container {
        margin-top: 0px;
        display: flex;
        justify-content:center;
        width: 367px;
        height: 320px;
    }
    .quarter_shape_img { 
        width: 350px;
        height: 350px;
    }
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid var(--main_color);
    box-shadow: var(--main_color) 0px 2px 8px -3px;
    color: var(--main_color);
    background-color: var(--background_color);
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    color: var(--background_color);
    background-color: var(--main_color);
    box-shadow: var(--main_color) 0px 2px 8px 0px;
    font-size: 16px;
    font-weight: 500;
}